<!DOCTYPE html>
<head>
	<title>CodeFolio</title>
	<link rel="stylesheet" type="text/css" href="style/contactus.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</head>

<body>
	<header class="fixed_nav">
		<div class="wrapper">
			<div class="logo">
				<a href="#"><img src="img/logo_small.png" alt="Fertile"></a>
			</div>

			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/clickrbook">ClickrBook</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="services wrapper">
		<div class="message">
			<h2>Thanks {{fname}} {{lname}} for getting in touch !</h2>
			<h2>We will reply you at {{email}}</h2>
		</div>
	</section>

	<footer>
	</footer>
</body>
</html>
